body{
  /* The image used */
  background-image: url("../img/maze.jpg");
  /* Set a specific height */
  height:950px;
  /* Position and center the image to scale nicely on all screens */
  background-position: 0% 10%;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
}
.panel{
  background-color: black;
  color: white;
  font-size: 15px;
  background-color: rgba(0,0,0, 0.7);
}

a{
  color: white;
}
