#question2-0, #question2-1, #question2-2, #question2-3{
  display:none;
}
#question3-0, #question3-1, #question3-2, #question3-3, #question3-4, #question3-5, #question3-6, #question3-7{
  display:none;
}
#question4-0, #question4-1, #question4-2, #question4-3, #question4-4, #question4-5, #question4-6, #question4-7,
#question4-8, #question4-9, #question4-10, #question4-11, #question4-12, #question4-13, #question4-14, #question4-15{
  display:none;
}

#question5-0, #question5-1, #question5-2, #question5-3, #question5-4, #question5-5, #question5-6, #question5-7,
#question5-8, #question5-9, #question5-10, #question5-11, #question5-12, #question5-13, #question5-14, #question5-15,
#question5-16, #question5-17, #question5-18, #question5-19, #question5-20, #question5-21, #question5-22, #question5-23,
#question5-24, #question5-25, #question5-26, #question5-27, #question5-28, #question5-29, #question5-30, #question5-31, #win{
  display:none;
}
.panel{
background-color:black;
color: white;
font-size: 40px;
border-radius: 8px;
border: 2px;
padding: 8px;
background-color: rgba(0,0,0, 0.7);
}
.jumbotron {
    margin-bottom: 0px;
    height:195px;
    width: 550px;
    margin: auto;

    background-image: url("../img/download.jpeg");
    background-position: 0% 51%;

    background-size: cover;
    background-repeat: no-repeat;
    color: yellow;
    text-shadow: black 0.9em 0.9em 0.9em;
}
body,html{
  height: 100%;
}

body{
  /* The image used */
  background-image: url("../img/marvel.jpg");
  /* Set a specific height */
  height:950px;
  /* Position and center the image to scale nicely on all screens */
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
}
h4{
  font-size: 60px;
  font-style: normal;
}
#gif{
  height: 250px;
  width: 600px;
}
/* .hide{
  display:none;
} */

/* Media query for Tecno Spark/Oppo F5 Lite  */
@media only screen and (min-device-width : 720px) {
  body{
    /* The image used */
    background-image: url("../img/marvel.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    margin

  }
  .panel{
  margin-top: 70%;
  background-color:black;
  color: white;
  font-size: 60px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  width:1200px;
  margin: auto;
  }
}
/* Media query for Pixel 2 */
@media only screen and (device-width : 720px) and (max-device-height : 1480px) {
  body{
    /* The image used */
    background-image: url("../img/marvel.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    margin

  }
  .panel{
  margin-top: 50%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  width:1200px;
  margin: auto;
  }
}


/* Media query for 15.4 inch screens  */
@media (min-device-width : 1281px) {
body,html{
  height:100%;
}
  body{
    /* The image used */
    background-image: url("../img/marvel.jpg");
    /* Set a specific height */

    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
  margin-top: -1%;
  background-color:black;
  color: white;
  font-size: 40px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  width:1200px;
  margin: auto;
  }
  .jumbotron {
      margin-bottom: 0px;
      height:150px;
      width: 550px;
      margin: auto;

      background-image: url("../img/download.jpeg");
      background-position: 0% 51%;

      background-size: cover;
      background-repeat: no-repeat;
      color: yellow;
      text-shadow: black 0.9em 0.9em 0.9em;
  }
}


/* Media query for My Screen inch screens  */
@media (min-device-width : 1451px) {
  body,html{
    height: 100%;
  }
  body{
    /* The image used */
    background-image: url("../img/marvel.jpg");
    /* Set a specific height */
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }
  .panel{
    margin-top: 5%;
  background-color:black;
  color: white;
  font-size: 40px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  width:1200px;
  margin: auto;
  }
  .jumbotron {
      margin-bottom: 0px;
      height:195px;
      width: 550px;
      margin: auto;

      background-image: url("../img/download.jpeg");
      background-position: 0% 51%;

      background-size: cover;
      background-repeat: no-repeat;
      color: yellow;
      text-shadow: black 0.9em 0.9em 0.9em;
  }

}


/* Media query for iphone 7 Plus  */
@media only screen and (device-width : 414px) and (max-device-height : 736px) {
  body{
    /* The image used */
    background-image: url("../img/marvel.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    margin

  }
  .panel{
  margin-top: 50%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}


/* Media query for Pixel 2 */
@media only screen and (device-width : 411px) and (max-device-height : 823px) {
  body{
    /* The image used */
    background-image: url("../img/marvel.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    margin

  }
  .panel{
  margin-top: 50%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}



/* Media query for iphone X  */
@media only screen and (min-device-height : 812px) and (max-device-height : 820px) {
  body{
    /* The image used */
    background-image: url("../img/marvel.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    margin

  }
  .panel{
  margin-top: 70%;
  background-color:black;
  color: white;
  font-size: 60px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}




/* Media query for iphone 6/7/8 */
@media only screen and (min-device-width : 375px) and (device-height : 667px) {
  body{
    /* The image used */
    background-image: url("../img/marvel.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;

  }
  .panel{
  margin-top: 50%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}

/* Media query for Galaxy S5 */
@media only screen and (min-device-width : 360px) and (max-device-height : 640px) {
  body{
    /* The image used */
    background-image: url("../img/marvel.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    margin

  }
  .panel{
  margin-top: 50%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}


/* Media query for iphone 5 */
@media only screen and (min-device-width : 320px) and (max-device-height : 568px) {
  body{
    /* The image used */
    background-image: url("../img/marvel.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;


  }
  .panel{
  margin-top: 50%;
  background-color:black;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}




/* Media query for iPad */
@media only screen and (device-height : 1024px) {
  body{
    /* The image used */
    background-image: url("../img/marvel.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    margin

  }
  .panel{
  margin-top: 15%;
  background-color:black;
  color: white;
  font-size: 60px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);

  width:1200px;
  margin: auto;
  }
}

/* Media query for iPad Pro */
@media only screen and (device-height : 1366px) {
  body{
    /* The image used */
    background-image: url("../img/marvel.jpg");
    /* Set a specific height */
    height:1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;


  }
  .panel{
  margin-top: 15%;
  background-color:black;
  color: white;
  font-size: 60px;
  border-radius: 8px;
  border: 2px;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
  }
}
