{% extends 'bootstrap/base.html' %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block styles %}
  {{super()}}
  <script  src="https://code.jquery.com/jquery-3.3.1.js" ></script>
  <link rel="stylesheet" href="{{url_for('static',filename='css/gaming.css')}}">

  <link rel="shortcut icon" href="https://icon2.kisspng.com/20180320/stw/kisspng-phil-coulson-iron-man-s-h-i-e-l-d-logo-marvel-cin-drawing-shield-marvel-icon-5ab1352d95f856.3879483315215629256143.jpg">
  <!-- Importing the simple mde css and js files -->
  {{simplemde.css}}
  {{simplemde.js}}
{% endblock %}
