{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/gaming.css')}}">
    <script  src="https://code.jquery.com/jquery-3.3.1.js" ></script>
    <script src= "{{url_for('static',filename='js/gaming.js')}}"></script>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='img/alienware.png')}}" >
{% endblock %}


{% block content %}
<br><br>
  <div class="jumbotron">

  </div>

  <br><br><br><br><br><br>
  <div class="text-center">

    <div class="panel panel-info panel-height responsive">
      <button id="quit" onclick="location.href='/'" class="btn-danger btn-lg">Quit</button>


      <div id="question1-0">
          <p>When was Play Station first announced?</p>
          <button id="quest1-0" class="btn-danger btn-lg points">1990</button>
          <button id="quest1-1" class="btn-danger btn-lg points">1995</button>
          <button id="quest1-2" class="btn-danger btn-lg points">1988</button>
          <button id="quest1-3" class="btn-danger btn-lg points">1991</button>
      </div>

{% for question in questions %}

  <div id="{{question.div}}">
    <p>{{question.question}}</p>
    <button id="{{question.button1}}"  class="btn-danger btn-lg points" >{{question.choice1}}</button>
    <button id="{{question.button2}}"  class="btn-danger btn-lg points" >{{question.choice2}}</button>
  </div>
{% endfor %}


<div id="win">
    <h4>Congratulations! You've conqueored the maze!</h4>
    <img  src="../static/img/badge4.png" width="200" height="200" >

</div>

</div>
<audio controls autoplay loop>
  <source src="../static/music/supermario.mp3" type="audio/mp3">
</audio>
  </div>

<!-- <audio controls autoplay loop>
  <source src="music/MARIO - SUPER MARIO RUN (Trap Remix).mp3" type="audio/mp3">
</audio> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('button.points').bind('click', function() {
            $.getJSON('/add_points',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('button#quit').bind('click', function() {
            $.getJSON('/add_gaming',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

{% endblock %}
