{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/gaming.css')}}">
    <script  src="https://code.jquery.com/jquery-3.3.1.js" ></script>
    <script src= "{{url_for('static',filename='js/script.js')}}"></script>
    <link rel="shortcut icon" href="https://icon2.kisspng.com/20180320/stw/kisspng-phil-coulson-iron-man-s-h-i-e-l-d-logo-marvel-cin-drawing-shield-marvel-icon-5ab1352d95f856.3879483315215629256143.jpg">
{% endblock %}


{% block content %}

  <div class="jumbotron">

  </div>

  <br><br><br><br><br>
  <div class="text-center"id="gaming">

    <div class="panel panel-info panel-height">
      <button id="quit" onclick="location.href='index.html'"  class="btn-danger btn-lg">Quit</button>

{% for question in questions %}
  <div id="{{question.div}}">
    <p>{{question.question}}</p>
    <button id="{{question.button1}}"  class="btn-danger btn-lg points" onclick="add_points()">{{question.choice1}}</button>
    <button id="{{question.button2}}"  class="btn-danger btn-lg points" onclick="add_points()">{{question.choice2}}</button>
  </div>
{% endfor %}


<div id="win">
    <h4>Congratulations! You've conqueored the maze!</h4>
    <img src="#">
</div>

</div>
  </div>

<!-- <audio controls autoplay loop>
  <source src="music/MARIO - SUPER MARIO RUN (Trap Remix).mp3" type="audio/mp3">
</audio> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('button.points').bind('click', function() {
            $.getJSON('/add_points',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

{% endblock %}
